VITE_TIKTOOL_API_KEY=example_key_here
VITE_TWITCH_CLIENT_ID=your_twitch_client_id
VITE_TWITCH_REDIRECT_URI=http://localhost:5173/callback
VITE_STORAGE_SECRET=replace_with_a_local_secret_for_settings_encryption
